<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Soy un Rinoceronte</h1>
    <p>
        Los rinocerótidos (Rhinocerotidae, del griego ρινός (rinós), 'nariz' y κερος (keros), 'cuerno'), conocidos con el nombre de rinocerontes, son una familia de mamíferos placentarios del suborden ceratomorfos perteneciente al orden de los perisodáctilos. <br>

Actualmente existen cinco especies: el rinoceronte blanco y el rinoceronte negro en África y el rinoceronte de Java, el rinoceronte de la India y el rinoceronte de Sumatra en Asia. Según la clasificación de estado de conservación confeccionada por la Unión Internacional para la Conservación de la Naturaleza, las especies de rinocerontes de Java, Sumatra y negro se encuentran en «peligro crítico»; el de la India se considera «vulnerable» y el blanco «casi amenazado». <br>

En español, además del término rinoceronte, existe la palabra abada para denominar a estos animales. Proveniente del portugués abada, que se usa para designar a la hembra del rinoceronte; actualmente su uso es limitado.

    </p>

    <a href="./views/rhinocerontes.html" target="_self"><img src="img/rhinoceros.webp" alt="rinoceronte"></a>
</body>
</html>